/* Be sure to add your own classes and IDs and keep track of them along with your HTML Nesting !!!!*/

/* A few lesser recalled CSS props you should Google: opacity, text-transform, transition, letter spacing, gap; These will help with formatting text */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: row;
  background-color: #000;
}

html{

  background-color: #040714;
}

/* FOR HEADER ONLY: if theres an empty comment, a CSS property is missing */
header{
  /* FREEBIE: uncomment the line below when you are ready to style the background image  */
  background-image: url(images/background.jpeg);
  background-size: cover;
  background-position: 100px;
  /* ^ experiment with this number */
  display: flex;
  width: 200px;
  height: 200px;
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
}

nav{
  width: 100px;
  height: 100px;
}

/* BELOW you should probably have selectors for both buttons, the section, the imgs, the p tags and the span within the p  */

/* HINT  */

header{
  width: 500px;
  height: 500px;
  

}
button{
  float: right;
  position: relative;
  margin: 5px;
  font-family: Avenir, sans-serif;
  background-color: #000;
  color: white;
  padding: 15px;


}

header section {

}

header section p{

}




footer{
  flex-direction: column;
  margin: auto;
  
  
}





















/* STOP!!! No regular CSS properties should go below! This section is for the media queries */

/* FREEBIE: here are the media queries, its up to YOU to choose the appropriate selectors and NEST them within the query properly. I will give you one for each media query */

@media screen and (max-width:960px){
  header section img{

  }
}


@media screen and (max-width:740px){
#shows ul{

}

}